/* Header */

.header {
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  z-index: 100;
  border-bottom: solid 1px $medium-grey;
  background: white;
}

.site-title {
  -webkit-transition: color 300ms, font-size 150ms;
     -moz-transition: color 300ms, font-size 150ms;
       -o-transition: color 300ms, font-size 150ms;
          transition: color 300ms, font-size 150ms;

  &:hover {
    color: slategray;
    font-size: 27px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 32px;
}



/* Hero */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 63px);
  min-height: calc(100vh - 63px);
  background-color: $light-grey;
}

.hero__container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  @include media-query($on-mini) {
    margin-top: -16px;
  }
}

.hero__title {
  font-family: $header-font-family;
  font-weight: bold;
  font-size: 108px;
  font-size: 10vw;

  @include media-query($on-palm) {
    font-size: 60px;
    font-size: 10vw;
  }

  @include media-query($on-mini) {
    font-size: 48px;
    font-size: 10vw;
  }
}

.hero__subtitle, .hero__descriptor {
  font-family: $base-font-family;
  font-size: 48px;
  font-size: 6vw;

  @include media-query($on-mini) {
    font-size: 24px;
    font-size: 6vw;
  }
}


/* Profile */

.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient($medium-dark-grey, $medium-grey);
  background-color: $light-grey;
  border-bottom: solid 1px $medium-grey;
}

.profile__container {
  z-index: 1;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 32px 0;
  color: $primary;

  @include media-query($on-laptop) {
    flex-flow: column;
    padding: 32px 0 16px 0;
  }
}

.profile__info {
  display: flex;
  flex-flow: column;
  margin: 24px 64px;
  align-self: flex-end;

  @include media-query($on-laptop) {
    align-items: center;
    align-self: center;
  }

  @include media-query($on-palm) {
    margin: 24px 0;
  }
}

.profile__info--username {
  font-size: 48px;
}

.profile__info--role {
  font-size: 24px;
}

.profile__info--summary {
  width: 480px;
  padding: 6px 0;

  @include media-query($on-laptop) {
    text-align: center;
  }

  @include media-query($on-palm) {
    width: calc(100% - (#{$base-horizontal-margin} * 2));
    margin: 0 $base-horizontal-margin;
  }
}

.profile__image {
  border-radius: 132px;
  // box-shadow: 0 3px 8px 2px $medium-grey;
}

/* Body */
.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__header {
  color: darkslategray;
  padding-bottom: 4px;
  font-size: 30px;
  text-align: center;

  @include media-query($on-laptop) {
    font-size: 24px;
  }
}

.projects__header--bg {
  margin: 32px 0;
  border-bottom: solid 1px $light-medium-grey;
  padding: 0 24px;

  @include media-query($on-laptop) {
    margin: 16px 0;
  }
}

.projects__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 16px 0;
}

.project__container {
  width: calc(100% - 64px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
  margin: 32px 0;
  justify-content: space-between;
  border-bottom: solid 1px $light-medium-grey;

  @include media-query($on-laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 280px;
  }
}

.project__name {
  font-size: 32px;
  margin-top: 8px;

  @include media-query($on-laptop) {
  }
}

.project__description {
  @include media-query($on-laptop) {
    text-align: center;
  }
}

.project__info {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;

  @include media-query($on-laptop) {
    align-items: center;
    margin-bottom: 32px;
  }
}

.project__tech {
  margin-top: 8px;

  @include media-query($on-laptop) {
    text-align: center;
  }
}

.project__image {
  object-fit: contain;
  height: 340px;

  @include media-query($on-laptop) {
    height: 280px;
  }
}

/* Footer */

.footer {
  padding: 10px 0;
  background-color: $light-grey;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.footer__wrapper--header {
  margin: 16px 0;
}

.footer__wrapper--short-desc {
  margin: 16px;
  text-align: center;
}

.social__list {
  display: flex;
  list-style: none;
  align-items: center;
}